<div class="w-full flex flex-col gap-1">
  @if (label()) {
    <label [htmlFor]="id()" class="text-sm font-medium text-gray-700">
      {{ label() }}
    </label>
  }

  <div class="relative w-full">
    <input
      #triggerInput
      [id]="id()"
      type="text"
      autocomplete="off"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [value]="searchText()"
      [class]="inputClasses()"
      (input)="handleInput($event)"
      (focus)="openDropdown()"
      (blur)="closeDropdown()"
    />

    <img
      src="assets/images/svg/expand_more_24px_quaternary.svg"
      alt="Expand more icon"
      [class]="iconClasses()"
    />

    @if (isOpenDropdown() && options().length > 0) {
      <div
        class="absolute w-full bg-white border border-gray-100 rounded-lg shadow-md z-50 max-h-52 overflow-y-auto"
        [ngClass]="{
          'top-full mt-1': dropdownPosition() === 'bottom',
          'bottom-full mb-1': dropdownPosition() === 'top',
        }"
      >
        @if (filteredOptions().length > 0) {
          @for (option of filteredOptions(); track `${option.key} - ${$index}`) {
            <button
              type="button"
              class="w-full px-4 py-2 text-left text-sm border-b border-gray-100 last:border-b-0 cursor-pointer"
              [ngClass]="{
                'bg-primary text-white': selectedKey() === option.key,
                'hover:bg-gray-100': selectedKey() !== option.key,
              }"
              (mousedown)="selectOption(option)"
            >
              {{ option.label }}
            </button>
          }
        } @else {
          <div class="w-full h-auto px-4 py-2">
            <p class="text-left text-sm">No data available</p>
          </div>
        }
      </div>
    }
  </div>

  @if (error()) {
    <p class="text-xs text-red-500 font-medium">
      {{ error() }}
    </p>
  }
</div>
