<div class="w-full flex flex-col gap-1">
  @if (label()) {
    <label [htmlFor]="id()" class="text-sm font-medium text-[var(--color-primary-dark)]">
      {{ label() }}
    </label>
  }

  <input
    #currencyInput
    [id]="id()"
    [placeholder]="placeholder()"
    [disabled]="disabled()"
    [class]="inputClasses()"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  />

  @if (error()) {
    <p class="text-xs text-[var(--color-danger)] font-medium">
      {{ error() }}
    </p>
  }
</div>
