<div class="w-full h-auto rounded-lg bg-white border border-gray-100 shadow-md">
  <div class="w-full h-auto p-4 border-b-2 border-gray-100">
    <p class="text-left text-[16px] leading-[24px] font-semibold">Employee Status Chart</p>
  </div>

  <div class="w-full h-auto p-4">
    <apx-chart
      [series]="series"
      [labels]="labels"
      [chart]="chart"
      [legend]="legend"
      [dataLabels]="dataLabels"
      [responsive]="responsive"
      [colors]="colors"
    >
    </apx-chart>
  </div>
</div>
